<!DOCTYPE html>
<html ng-app="cumulusApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Cumulus</title>
        <meta name="description" content="An interactive getting started guide for Brackets.">
        <link rel="stylesheet" href="main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
        <script src="jquery-1.11.0.min.js"></script>
        <script src="main.js"></script>
    </head>
    <body ng-controller="calculateLines">
        <div class="container">
	        <form ng-submit="submitInput()" "id="form">
	            <input ng-model="input" id="input" class="input" type="text" placeholder="Type your text followed by the amount here"/>
	        </form>
	        <ul class="rows">
	        	<li ng-keydown="$emit('typing', $event)" id="_{{$index}}" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="line in lines track by $index" class="row">
	        		<span ng-keyup="modifyText($event, $index)"  ng-blur="$emit('save', $event)" ng-keydown="filterReturn($event)" contenteditable="true" class="text">{{line.text}}</span>
	        		<span ng-blur="onBlur($event, $index)" ng-keydown="filterKeys($event)" ng-keyup="modifyAmount($event, $index)" contenteditable="true" class="amount">{{line.amount}}</span>
                                                                                                                                                        <span title="delete" class="delete" ng-click="delete($event, $index)">-</span>
	        	</li>
	        	<li class="total-row row">
	        		<span class="total-label">Total</span>
	        		<span class="total-amount">{{total}}</span>
	        	</li>
	        </ul>
        </div>
    </body>
</html>