<!DOCTYPE html>
<html ng-app="cumulusApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Cumulus</title>
        <meta name="description" content="A calculating surface.">
        <link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="main.js"></script>
    </head>
    <body>
    	<header ng-controller="headerCtrl" >
    		<!--div class="inline home">    			
    			<svg class="home-graphic" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" > 
    			  <a xlink:href="#">  				
    				<path transform="scale(2 1)" d="M0,40 L35,40 Q45,40 52,15 Q60,-10 75,0 L75,0 0,0 Z" style="stroke: none;"/>
    				<text x="10" y="25">Cumulus</text>
    			  </a>
				</svg>
    		</div-->
    		<div class="center inline">
	    		<!--nav class="app-menu">
	    			<span class="app-menu-entry">Read from file</span>
	    			<span class="app-menu-entry">Read from text</span>
	    			<span class="app-menu-entry">Delete all</span>
	    		</nav-->
                Cumulus
    		</div>
    		<div class="inline saved-status">
    			<svg id="saved-svg" class="saved-graphic" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">   				
    				<path transform="translate(-50 40) scale(2 -1)" d="M0,40 L35,40 Q45,40 52,15 Q60,-10 75,0 L75,0 0,0 Z" style="stroke: none;"/>
    				<text class="status" x="50%" y="25">Saved</text>
                    <text class="dots" x="65%" y="25">...</text>
				</svg>
    		</div>
    	</header>
        <div  ng-controller="linesCtrl" class="container">
	        <form ng-submit="submitInput()" id="form">
	            <input ng-model="input" id="input" class="input" type="text" placeholder="Type your text followed by the amount here"/>
	        </form>
	        <ul class="rows">
	        	<li ng-keydown="$emit('typing', $event)" id="_{{$index}}" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="line in lines track by $index" class="row">
	        		<div class="inner-line">
		        		<span ng-keyup="modifyText($event, $index)"  ng-blur="$emit('save', $event)" ng-keydown="filterReturn($event)" contenteditable="true" class="text">{{line.text}}</span>
		        		<span ng-blur="onBlur($event, $index)" ng-keydown="filterKeys($event)" ng-keyup="modifyAmount($event, $index)" contenteditable="true" class="amount">{{line.amount}}</span>
		        		<span title="delete" class="delete" ng-click="delete($event, $index)"></span>
	        		</div>
	        	</li>
	        	<li class="total-row row">
	        		<div class="inner-line">
		        		<span class="total-label">Total</span>
		        		<span class="total-amount">{{total}}</span>
	        		</div>
	        	</li>
	        </ul>
        </div>
        <footer>
        	<a target="_blank" href="https://github.com/eloone/cumulus">cumulus 2014 | by eloone</a>
        </footer>
    </body>
</html>
