html, body{
	margin:0;
	padding:0;
	font-family: 'Sanchez', serif;
}

ul{
	margin:0;
	padding:0;
}

header{
	overflow:hidden;
	text-align:center;
	height:40px;
}

header .inline{
	display:inline-block;
	float:left;
}

header .home{
	width:10%;
}

header .saved-status{
	width:10%;
}

.home-graphic a:hover{
	fill:#f00;
}

.home-graphic text{
	fill:#F7E308;
}

header .center{
	width:80%;
	background:rgb(3, 133, 165);
}

header .app-menu{
	width:500px;
	margin:0 auto;
}

.container{
    width:80%;
    margin:0 auto;
}

.input{
    width:98%;
    padding:10px;
    border:0;
    font-size:18px;
    outline:none;
}

.row{
	list-style-type:none;
	padding:10px;
	overflow:hidden;
    position:relative;
    padding-right:30px;
}

.row.odd{
    background:#ddd;   
}

.row.unsaved{
    background:rgb(255, 238, 219);        
}

.row .text{
	float:left;	
    cursor : text;
    outline:none;
    min-width:50px;
    max-width:90%;
}

.row .amount{
	float:right;
    min-width:50px;
    text-align: right;
    cursor : text;
    outline:none;
}

.total-row{
	overflow:hidden;
	border-top:1px solid black;
    position:fixed;
    bottom:0;
    box-sizing: border-box;width:80%;
}

.total-label{
	font-size:14px;
	float:left;	
}

.total-amount{
	float:right;	
}

.delete{
    color:red;
    font-size:36px;
    position:absolute;
    right:0px;
    top:-2px;
    cursor:pointer;
    background:white;
    padding:0 3px 5px 5px;
    display:none;
    
}

.row:hover .delete{
    display:block;
}
